body{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/17/23/29/programming-1832991_1280.png");
    font-family: Courier;
    font-size: 1.1em;
  }
  
  #title, #description{
    color: #5a70d1;
    text-align: center;
  }
  
  form{
    background-color: #171717;
    color: #e11840;
    width: 90vw;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
  }
  div{
    margin: 0 3em;
  }
  
  label{
    display: block;
    margin: 0.5em 0 0 0;
  }
  
  span{
    Font-size: 0.7em;
  }
  
  input[type="text"], input[type="email"], input[type="number"], select, textarea{
    color: #2cdc11;
    background-color: #000011;
    width: 100%;
    border-radius: 5px;
  }
  
  input[type="text"], input[type="email"], input[type="number"], select{
    height: 2.3em;
  }

  textarea{
    max-width: 100%;
  }
  
  button[type="submit"]{
    display: block;
    width: 83%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1em;
    background-color: #2cdc11;
    border-color: #2cdc11;
    min-width: 300px;
    color: #FFFFFF;
    border-radius: 5px;
  }